@CHARSET "UTF-8";


.root {
	-fx-font-family: "Comic Sans MS" ;	
	-fx-background-color: lightgoldenrodyellow ;
}
.tic-tac-toe-board {
	-fx-background-color: saddlebrown ;
	-fx-padding: 15px ;
	-fx-alignment: center ;
}

.tic-tac-toe-board > .board-grid {
	-fx-background-color: darkgreen ;
}

.tic-tac-toe-board .label:disabled {
	-fx-opacity: 1.0 ;
}

.tic-tac-toe-board > .board-grid > .label {
	-fx-font-size: 128pt ;
}

.tic-tac-toe-board > .board-grid > .O {
	-fx-text-fill: lightgoldenrodyellow ;
}

.tic-tac-toe-board > .board-grid > .X {
	-fx-text-fill: olive ;
}

.status {
	-fx-font-size: 24pt ;
	-fx-text-fill: sandybrown ;
}